body{
	overflow-x: hidden;
}
.nav-hover{
	font-family: "manrope";
	font-weight: 300;
	transition: 0.3s;
}
.nav-brand{
	font-family: "eb garamont";
}
.nav-hover:hover{
	color: #dea27a;
}
.navbar {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
.garamont{
    font-family: "eb garamont";
    font-style: italic;
    font-size: 16px;
    color: #414141;
}
.welcome {
	background-image: url(welcome-bg.webp);
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	max-height: 82vh;
	padding-top: 150px;
	margin-top: 50px;
}
.welcomehead {
	font-size: 85px;
	color: white;
	font-family: 'eb garamont';
	font-style: italic;
	text-align: center;
	margin-bottom: 0;
}
.welcomesub {
	color: white;
	font-family: 'manrope';
	text-align: center;
	font-weight: 200;
	font-size: 30px;
	margin-top: 0;
}
.welcomebuttoncon {
	display: flex;
	justify-content: center;
}
.welcomebutton {
	background-color: #dea27a;
	border: none;
	outline: none;
	width: 150px;
	height: 40px;
	font-family: 'manrope';
	font-weight: 200;
	font-size: 13px;
	transition: 0.3s;
}
.welcomebutton:hover {
	background-color: #80695a;
	color: white;
}
.servicescon{
    margin-top: 100px;
}
.servicesh{
    font-family: "eb garamont";
    font-size: 23px;
    font-style: italic;
    color: #414141;
}
.servicesp{
    font-family: "manrope";
    font-weight: 200;
    color: #414141;
}
.bigletter{
    font-size: 100px;
}
.serviceslinks{
	color: black;
	text-decoration: none;
	font-family: "gb garmont";
	font-style: italic;
}
.horiline{
	color: #dea27a;
	margin-left: 5px;
}
.containers{
    padding-left: 100px;
    padding-bottom: 60px;
    margin-top: 200px;
}
.footer{
    display: flex;
}
.garamont{
    font-family: "eb garamont";
    font-style: italic;
    font-size: 16px;
    color: #414141;
}
.bookbutton{
    background-color: #fff;
    border: 1px solid #dea27a;
    height: 60px;
    width: 200px;
	transition: 0.3s;
}
.bookbutton:hover{
	background-color: #dea27a;
	color: white;
}





@media (min-width: 991px) {
	.spec {
		display: none;
	}
}
@media (max-width: 991px){
    .containers{
        margin-top: 30px;
    }
}
@media (max-width: 991px){
    .spec2{
        margin-top: 50px;
    }
	.spec3{
		margin-bottom: 30px;
	}
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

.fade-in {
	opacity: 1;
}

.fade-out {
	opacity: 0;
}
